@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap");

.shine {
  background: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.shine-dark {
  background: #151515; /* Dark background */
  background-image: linear-gradient(
    to right,
    #151515 0%,
    /* Dark shade */ #191919 20%,
    /* Lighter dark shade for the shimmer */ #161616 40%,
    /* Return to the dark base */ #151515 100%
  );
  background-repeat: no-repeat;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmerDark;
  animation-timing-function: linear;
}

@keyframes placeholderShimmerDark {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.scale {
  animation: scaleAnimation 5s linear;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-italic {
    font-style: italic !important;
  }
}

.swiper-pagination-bullet-active {
  @apply bg-black !important;
}

/* CSS untuk menyembunyikan scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Untuk browser berbasis WebKit (Chrome, Safari) */
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* Untuk Internet Explorer dan Edge */
  scrollbar-width: none;
  /* Untuk Firefox */
}

@layer base {
  @font-face {
    font-family: "TanPearl";
    src: url("/fonts/tan-pearl.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "HighSummit";
    src: url("/fonts/high-summit.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Edensor";
    src: url("/fonts/edensor.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
}

.no-scroll {
  @apply overflow-hidden;
}

.slick-list,
.slick-track {
  height: 100%;
}
.slick-slide div {
  height: 100%;
  position: relative;
}
